@import url('https://fonts.googleapis.com/css?family=Rationale');

.selected button {
    background-color: rgba(158,158,158,0.2);
}

md-card-content.terminal-container {
    background-color: #000;
    padding: 0;
}

.clock {
    font-family: 'Rationale', sans-serif;
    font-size: 3.0em;
    color: #1da4eb;
    text-align: center;
}

.welcome {
    background-color: #e7e7e7;
}

.welcome > div {
    text-align: center;
}

.welcome > div > img {
    max-width: 100%;
}

.g-recaptcha div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 50px;
}

.uploadStatus .bottom-block {
    display: block;
    position: relative;
    background-color: rgba(255, 235, 169, 0.25);
    height: 30px;
    width: 100%;
}

.uploadStatus .bottom-block > span {
    display: inline-block;
    padding: 8px;
    font-size: 0.9em;
}

.uploadStatus {
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid #aad1f9;
    transition: opacity  0.1s linear;
    border-top: 0px;
}

.disconnected {
    background-color: #FDF4B6;
}
md-input-container {
    margin-bottom: 0;
}
md-input-container .md-errors-spacer {
    height: 0;
    min-height: 0;
}

.stats {
    min-height: 230px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.md-mini {
    min-width: 24px;
}

.dragover {
    opacity: 0.5;
}
