@import url('http://fonts.googleapis.com/css?family=Rationale');

.selected button {
	background-color: rgba(158,158,158,0.2);
}

md-card-content.terminal {
    background-color: rgb(113, 113, 113);
    padding: 0;
}

.terminal {
    background-color: rgb(113, 113, 113);
}

.terminal .xterm-viewport {
    background-color: rgb(113, 113, 113);
}

.terminal .xterm-rows {
    background-color: #000;
}

.clock {
    font-family: 'Rationale', sans-serif;
    font-size: 3.0em;
    color: #1da4eb;
    text-align: center;
}

.welcome {
    background-color: #e7e7e7;
}

.welcome > div {
    text-align: center;
}

.g-recaptcha div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 50px;
}
